#cacto {
  max-width: 50px;
  position: absolute;
  top: 215px;
  left: 1000px;
  animation: move-cactus 2s linear infinite;
  overflow: hidden;
}

@keyframes move-cactus {
  from {
    left: 1300px;
  }
  to {
    left: -1000px;
  }
}
