#dino {
  content: "";
  width: 100px;
  height: 115px;
  position: relative;
  top: 150px;
  display: inline-block;
  transform: scaleX(-1);
  background-image: url(assets/dino.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#dino.goku{
  background-image: url(imgs/goku.gif);
  transform: scaleX(1);
}

.dinoSobe {
  animation: sobe-dino 0.4s ease-in-out infinite;
}

.dinoDesce {
  animation: desce-dino 0.4s ease-in-out infinite;
}

#dino.dinoDown {
  background-image: url(assets/dinoDown.png);
  height: 75px;
  top: 190px;
  width: 150px;
  transform: scaleX(1);
  background-size: contain;
  background-repeat: no-repeat;
}

#dino.goku.dinoDown{
  background-image: url(assets/Goku-Agachado-PNG.png);
}

@keyframes sobe-dino {
  0% {
    top: 150px;
  }

  100% {
    top: 0px;
  }
}

@keyframes desce-dino {
  0% {
    top: 0px;
  }

  100% {
    top: 150px;
  }
}
